{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-book-reader'></i>
        <div class="logo-name"><span>Ishuri</span>Bridge</div>
    </a>
    <ul class="side-menu">
        <li><a href="{% url 'teacher' %}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a href="{% url 'add-assignment' %}"><i class='bx bx-task'></i>Assignments</a></li>
        <li class="active"><a href="#"><i class='bx bx-analyse'></i>Announcements</a></li>
        <li><a href="{% url 'view-activities'%}"><i class='bx bx-list-ul'></i>Activities</a></li>
        <li><a href="{% url 'classes-view' %}"><i class='bx bx-group'></i>Classes</a></li>
        <li><a href="{% url 'workspace' %}"><i class='bx bx-file'></i>WorkSpaces</a></li>
        <li><a href="{% url 'user-profile' request.user.id %}"><i class='bx bx-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'logout' %}" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<div class="content">
    <!-- Navbar -->
    <!-- End of Navbar -->

    <main>
        <div class="header">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li><a href="#">
                            Teacher
                        </a></li>
                    /
                    <li><a href="" class="active">Announcements</a></li>
                </ul>
            </div>
        </div>
        <div id="notification-bar" class="notification-bar">
            <span id="notification-message"></span>
            <button id="close-notification">Close</button>
        </div>
        

    </main>

</div>
<script>
    if(localStorage.getItem('theme') == 'dark') {
        document.body.classList.add('dark');
    } else {
        document.body.classList.remove('dark');
    }
    function getQueryParam(param) {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    return urlParams.get(param);
}

function showNotification(message) {
    var notificationBar = document.getElementById('notification-bar');
    var notificationMessage = document.getElementById('notification-message');
    var closeNotification = document.getElementById('close-notification');

    notificationMessage.textContent = message;
    notificationBar.style.display = 'block';

    closeNotification.addEventListener('click', function() {
        notificationBar.style.display = 'none';
    });
}

// Get the message query parameter value from the URL
const messageQueryParam = getQueryParam('message');

// Display the message in the notification bar
if (messageQueryParam) {
    showNotification(messageQueryParam);
}
</script>

{% endblock content %}