{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-book-reader'></i>
        <div class="logo-name"><span>Ishuri</span>Bridge</div>
    </a>
    <ul class="side-menu">
        <li><a href="{% url 'teacher' %}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a href="{% url 'view-assignments' %}"><i class='bx bx-task'></i>Assignments</a></li>
        <li><a href="{% url 'announcements' %}"><i class='bx bx-analyse'></i>Announcements</a></li>
        <li><a href="{% url 'view-activities'%}"><i class='bx bx-list-ul'></i>Activities</a></li>
        <li><a href="{% url 'classes-view' %}"><i class='bx bx-group'></i>Classes</a></li>
        <li class="active"><a href="{% url 'all-marks' %}"><i class='bx bx-pen'></i>Marks</a></li>
        <li><a href="{% url 'workspace' %}"><i class='bx bx-file'></i>WorkSpaces</a></li>
        <li><a href="{% url 'user-profile' request.user.id%}"><i class='bx bx-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'logout' %}" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<div class="content">
    <!-- Navbar -->

    <!-- End of Navbar -->

    <main>
        <div class="header">
            <div class="left">
                <h1>{{assignment.name}}</h1>
                <ul class="breadcrumb">
                    <li><a href="#">
                            Dashboard
                        </a></li>
                    /
                    <li><a href="#" class="active">Student Marks</a></li>
                </ul>
            </div>
            <a href="{% url 'add-marks' %}" class="report">
                <i class='bx bx-file'></i>
                <span>Add New Record</span>
            </a>
        </div>

        <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Assignment Marks</h3>
                    <i class='bx bx-filter'></i>
                    <i class='bx bx-search'></i>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <th scope="row">{{student.first_name}}</th>
                                <td>{{student.last_name}}</td>
                                <td>{{student.grade}}</td>
                                <td><a href="{% url 'update-marks' student.id %}"><i class='bx bx-pen' style="color: rgb(31, 164, 241);"></i></a></td>
                                <td><a href="{% url 'delete-marks' student.id %}"><i class='bx bx-trash' style="color: rgb(241, 38, 31);"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="notification-bar" class="notification-bar">
                <span id="notification-message"></span>
                <button id="close-notification">Close</button>
            </div>
            <!-- Reminders -->
            <div class="reminders">
                <div class="header">
                    <i class='bx bx-note'></i>
                    <h3>Today's Activities</h3>
                    <i class='bx bx-filter'></i>
                    <a href="{% url 'create-event' %}"><i class='bx bx-plus'"></i></a>
                </div>
                <ul class="task-list">
                    {% for field in  activities_today %}
                    <li class="completed">
                        <div class="task-title">
                            <i class='bx bx-check-circle'></i>
                            <p>{{field.name}}</p>
                        </div>
                        <a><i class='bx bx-trash' style="color: rgb(241, 31, 31);"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- End of Reminders-->

        </div>

    </main>
    

</div>

<script>
    if(localStorage.getItem('theme') == 'dark') {
        document.body.classList.add('dark');
    } else {
        document.body.classList.remove('dark');
    }
    function getQueryParam(param) {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    return urlParams.get(param);
}

function showNotification(message) {
    var notificationBar = document.getElementById('notification-bar');
    var notificationMessage = document.getElementById('notification-message');
    var closeNotification = document.getElementById('close-notification');

    notificationMessage.textContent = message;
    notificationBar.style.display = 'block';

    closeNotification.addEventListener('click', function() {
        notificationBar.style.display = 'none';
    });
}

// Get the message query parameter value from the URL
const messageQueryParam = getQueryParam('message');

// Display the message in the notification bar
if (messageQueryParam) {
    showNotification(messageQueryParam);
}
</script>
{% endblock content %}