<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <title>Ishuri Bridge Sytem | Dashboard</title>
</head>

<body>
  <div class="content">
    <nav>
      <i class='bx bx-menu'></i>
      <form action="#">
          <div class="form-input">
              <input type="search" placeholder="Search...">
              <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
              <input type="checkbox" id="theme-toggle" hidden>
              <label for="theme-toggle" class="theme-toggle"></label>
          </div>
      </form>
      <a href="#" class="notif">
          <i class='bx bx-bell'></i>
          <span class="count">{{announcements.count}}</span>
      </a>
      <a href="{% url 'user-profile' request.user.id %}" class="profile">
          <img src="{{user.avatar.url}}">
      </a>
  </nav>
  </div>
  {% block content %}
  {% endblock content %}
  <script src="{% static 'index.js' %}"></script>
  <script>
    if ("Notification" in window) {
        Notification.requestPermission();
    }
  </script>
  <script>
    // Show the alert
    document.getElementById('myAlert').style.display = 'block';
  
    // Hide the alert after 3 seconds
    setTimeout(function() {
        document.getElementById('notification-bar').style.display = 'none';
    }, 3000);
    function getQueryParam(param) {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    return urlParams.get(param);
}

function showNotification(message) {
    var notificationBar = document.getElementById('notification-bar');
    var notificationMessage = document.getElementById('notification-message');
    var closeNotification = document.getElementById('close-notification');

    notificationMessage.textContent = message;
    notificationBar.style.display = 'block';

    closeNotification.addEventListener('click', function() {
        notificationBar.style.display = 'none';
    });
}

// Get the message query parameter value from the URL
const messageQueryParam = getQueryParam('message');

// Display the message in the notification bar
if (messageQueryParam) {
    showNotification(messageQueryParam);
}
    
  </script>
</body>
